body {
    background-color: lightgrey;
}

#links {
    margin-left: 76%;
}

.bg-light {
    background-color: rgb(43, 137, 226) !important;
}

.work > img {
    width: 150px;
    height: auto;
}

main {
    height: 85vh;
    overflow: hidden;
}

#work {
    height: 85vh;
    overflow: hidden;
}

.contact-form {
    background-color: rgb(43, 137, 226);
    width: 60%;
    margin: 50px;
}

.navbar-light .navbar-brand {
    background-color: white;
}

a {
    color: white;
}